
* {
    margin: 0;
    padding: 0;
  }
  
  body {
    margin: 0;
    font-family: Lato;
    background-color: #fff;
  }
  .container {
    width: 1600px;
    margin: 0 auto;
    font-family: Lato;
    font-size: 14px;
    border: 3px solid red;
    box-sizing: border-box;
  }
  .page_headding {
    width: 100%;
    min-height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 18px 0;
    box-sizing: border-box;
    background: #222222;
  }
  .padding{
    padding-left: 14.375%;
    padding-right: 14.375%;
    box-sizing: border-box;
  }
  .page-header button {
    display: block;
    padding: 0;
    background-color: transparent;
    border: none;
  }
  .page-header svg {
    width: 100%;
    fill: #E8E8E8;
  }
  .header-menu {
    width: 111px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
   }
  .page-header-wrp-btn:nth-child(2) {
    width: 168px;
  }
  .page-header-logo {
    display: block;
    width: 44px;
    height: 38px;
    text-decoration: none;
    color: #fff;
  }
  .page-header-logo:hover img {
    filter: brightness(30%);
  }
  .page-header-logo:active img {
    filter: brightness(10%);
  }
 .search-btn {
    width: 26px;
    min-height: 26px;
   position: relative;
  }
  .header-menu:nth-child(2) {
    width: 168px;
  }
  .header-btn{
    display: block;
    width: 44px;
    height: 38px;
    text-decoration: none;
    color: #fff;
  }
  .account-btn svg {
    width: 29px;
    height: 29px;
  }
  .account-btn:hover svg {
    fill: orange;
  }
  .account-btn:active svg {
    fill: red;
  }
  .page_headding svg {
    width: 100%;
    height: 100%;
    fill: #E8E8E8;
}
.page_headding button {
    display: block;
    padding: 0;
    background-color: transparent;
    border: none;
}
  .menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
  }
  .profile_btn svg{
    width: 29px;
    height: 29px;
  }
  label {
    cursor: default;
}
  .menu_img{
    height: 29px;
}
  .cart-btn svg {
    width: 32px;
    height: 29px;
  }
  .header-text {
    width: 100%;
    min-height: 764px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    background-color: #F1E4E6;
    background-image: url('image/head_picture.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom left;
  }
  .header-text-area {
    width: 377px;
    margin: 0 100px 90px 0;
    text-transform: uppercase;
    position: relative;
  }
  .header-text-area:before {
    content: "";
    display: block;
    width: 12px;
    height: 92px;
    background-color: #F16D7F;
    position: absolute;
    top: 0;
    left: -28px;
  }
  .header-text-title {
    display: block;
    width: 100%;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 57.6px;
    color: #222222;
  }
  .header-text-subtitle {
    display: block;
    font-weight: 700;
    font-size: 32px;
    line-height: 38.4px;
  }
  .categories {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1140px;
    margin: 65px auto 0 auto;
  }
  .categories-item {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 360px;
    min-height: 260px;
    margin: 0 30px 30px 0;
    background-size: cover;
    background-position: center;
  }
  .categories-item:nth-child(1) {
    background-image: url('image/forwomen.png');
  }
  .categories-item:nth-child(2) {
    background-image: url('image/formen.png');
  }
  .categories-item:nth-child(3) {
    background-image: url('image/forkids.png');
  }
  .categories-item:last-child {
    width: 100%;
    background-image: url('image/accesories.png');
  }
  .categories-item:nth-child(4n-1),
  .categories-item:last-child {
    margin: 0 0 30px;
  }
  .categories-title, 
  .categories-subtitle{
    display: block;
    width: 100%;
    text-transform: uppercase;
  }
  .categories-title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19,2px;
    text-align: center;
    color: #FFFFFF;
  }
  .categories-subtitle {
    display: block;
    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28,8px;
    text-align: center;
    color: #F16D7F;
  }
  
  /* Товары*/

  .goods {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
  }
   .goods-title {
    display: block;
    width: 100%;
    margin: 6px 0 0 0;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
  }
  .goods-txt {
    display: block;
    width: 100%;
    margin: 0 0 48px 0;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16,8px;
    color: #9F9F9F;
  }
   .goods-item {
    display: block;
    width: 360px;
    margin: 0 30px 30px 0;
    position: relative;
    background: #F8F8F8;
    text-decoration: none;
    box-sizing: border-box;
  }
  .goods-item:nth-child(3n-1) {
    margin: 0 0 30px 0;
  }
  .goods-item:hover .goods-item-btn {
    display: flex
  }
  .goods-item:hover .goods-item-btn:hover {
    background-color: #ccc;
    color: #000;
    border: 1px solid #000;
  }
  .goods-item:hover .goods-item-btn:hover svg {
    fill: #000;
  }
  .goods-item:hover .goods-item-btn:active {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
  }
  .goods-item:hover .goods-item-btn:active svg {
    fill: #fff;
  }
  .goods-item:hover .goods-item-photo {
    filter: brightness(50%);
  }
  .goods-item:hover: .goods-item-photo-wrp:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(58, 56, 56, 0.86);
  }
  .goods-item-photo-wrp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #F7E4E2;
    box-sizing: border-box;
  }
  .goods-item-photo {
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .goods-item-txt-wrp {
    padding: 25px 18px 20px 18px;
    box-sizing: border-box;
    text-align: left;
  }
  .goods-item-title {
    display: block;
    margin: 0 0 12px 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
  }
  .goods-item-txt {
    margin: 0 0 18px 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
  }
  .goods-item-price {
    display: block;
    margin: 0;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
  }
  .goods-item-btn {
    display: none;
    justify-content: center;
    align-items: center;
    width: 160px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    background: transparent;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    position: absolute;
    top: 30%;
    left: calc(50% - 80px);
  }
  .goods-item-btn svg {
    fill: #fff;
    margin: 0 11px 0 0;
  }
  .goods-btn {
    display: block;
    width: 211px;
    padding: 14.5px;
    background-color: #fff;
    border: 2px solid #F26376;
    box-sizing: border-box;
    color: #F26376;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19,2px;
    text-align: center;
    word-break: break-all;
  }
  
  .goods-btn:hover {
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
  }
  .goods-btn:active {
    background-color: #fff;
    border: 2px solid #F26376;
    color: #F26376;
  }